@font-face {
	font-family: "vazir";
	font-weight: normal;
	font-style: normal;
	src: url("../assets/fonts/Vazir.woff") format("woff");
}
@font-face {
	font-family: "vazir";
	font-weight: bold;
	font-style: normal;
	src: url("../assets/fonts/Vazir-Bold.woff") format("woff");
}
body,
button,
input,
textarea {
	font-family: vazir;
}
